---
const year = new Date().getFullYear();

const socials = [
	{
		label: 'X / Twitter',
		href: 'https://x.com/',
		path: 'M18.9 2H22l-7.6 8.7L23 22h-6.9l-5.4-7-6.2 7H1.3l8.1-9.3L1 2h7.1l4.9 6.5L18.9 2Zm-2.4 18h1.9L7.6 4H5.6l10.9 16Z',
	},
	{
		label: 'Discord',
		href: 'https://discord.com/',
		path: 'M20.3 4.4A19.8 19.8 0 0 0 15.6 3l-.3.5c1.8.5 2.7 1.1 3.6 1.8-1.5-.7-3-1.2-4.9-1.2s-3.4.5-4.9 1.2c.9-.7 2-1.4 3.6-1.9L12.4 3a19.8 19.8 0 0 0-4.7 1.4C5.6 7.6 5 11 5.2 14.3a13.9 13.9 0 0 0 4.2 2.1l.7-1.1c-.7-.3-1.4-.6-2-1 .2-.1.4-.2.6-.4a12 12 0 0 0 10.6 0l.6.4c-.6.4-1.3.7-2 1l.7 1.1a13.9 13.9 0 0 0 4.2-2.1c.3-3.7-.6-7-2.5-9.9ZM9.7 12.9c-.7 0-1.3-.7-1.3-1.5s.6-1.5 1.3-1.5 1.4.7 1.3 1.5c0 .8-.6 1.5-1.3 1.5Zm4.7 0c-.7 0-1.3-.7-1.3-1.5s.6-1.5 1.3-1.5 1.4.7 1.3 1.5c0 .8-.6 1.5-1.3 1.5Z',
	},
	{
		label: 'Instagram',
		href: 'https://instagram.com/',
		path: 'M12 2.2c2.7 0 3 0 4.1.1 1 0 1.6.2 2 .4.5.2.9.4 1.2.8.4.3.6.7.8 1.2.2.4.4 1 .4 2 .1 1.1.1 1.4.1 4.1s0 3-.1 4.1c0 1-.2 1.6-.4 2-.2.5-.4.9-.8 1.2-.3.4-.7.6-1.2.8-.4.2-1 .4-2 .4-1.1.1-1.4.1-4.1.1s-3 0-4.1-.1c-1 0-1.6-.2-2-.4-.5-.2-.9-.4-1.2-.8-.4-.3-.6-.7-.8-1.2-.2-.4-.4-1-.4-2-.1-1.1-.1-1.4-.1-4.1s0-3 .1-4.1c0-1 .2-1.6.4-2 .2-.5.4-.9.8-1.2.3-.4.7-.6 1.2-.8.4-.2 1-.4 2-.4C9 2.2 9.3 2.2 12 2.2Zm0 1.8c-2.6 0-2.9 0-4 .1-.8 0-1.3.2-1.6.3-.4.1-.7.3-1 .6-.3.3-.5.6-.6 1-.1.3-.3.8-.3 1.6-.1 1.1-.1 1.4-.1 4s0 2.9.1 4c0 .8.2 1.3.3 1.6.1.4.3.7.6 1 .3.3.6.5 1 .6.3.1.8.3 1.6.3 1.1.1 1.4.1 4 .1s2.9 0 4-.1c.8 0 1.3-.2 1.6-.3.4-.1.7-.3 1-.6.3-.3.5-.6.6-1 .1-.3.3-.8.3-1.6.1-1.1.1-1.4.1-4s0-2.9-.1-4c0-.8-.2-1.3-.3-1.6-.1-.4-.3-.7-.6-1-.3-.3-.6-.5-1-.6-.3-.1-.8-.3-1.6-.3-1.1-.1-1.4-.1-4-.1Zm0 3.5a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1 0-9Zm0 1.8a2.7 2.7 0 1 0 0 5.4 2.7 2.7 0 0 0 0-5.4Zm5.7-2.9a1 1 0 1 1 0 2.1 1 1 0 0 1 0-2.1Z',
	},
	{
		label: 'itch.io',
		href: 'https://itch.io/',
		path: 'M2.5 5.6C4 4 6.3 2.2 7.7 2.2h8.6c1.4 0 3.6 1.8 5.2 3.4 1.3 1.4 2 2.6 2 3.4 0 1.1-.7 2-1.6 2.5-.8.5-1.7.5-2.4.2-.8-.3-1.3-.9-2-.9s-1.1.5-1.7 1c-.6.5-1.3 1-2.2 1s-1.6-.5-2.2-1c-.6-.5-1.1-1-1.7-1s-1.2.6-2 .9c-.7.3-1.6.3-2.4-.2-.9-.5-1.6-1.4-1.6-2.5 0-.8.7-2 2-3.4Zm1.9 8.9c.6.2 1.2.3 1.9.2.6 0 1.3-.2 1.9-.5.3.5.7 1 1.3 1.3.7.4 1.5.6 2.5.6s1.8-.2 2.5-.6c.6-.3 1-.8 1.3-1.3.6.3 1.3.5 1.9.5.7.1 1.3 0 1.9-.2l.6 5.6c.1.9-.2 1.7-1.6 1.9-2 .3-4-.1-4.2-1.6l-.2-1.8h-.4l-.2 1.8c-.2 1.5-2.2 1.9-4.2 1.6-1.4-.2-1.7-1-1.6-1.9l.6-5.6Z',
	},
];
---

<footer class="relative bg-espresso px-6 py-10 sm:px-10">
	<div class="mx-auto flex max-w-5xl flex-col items-center justify-between gap-6 sm:flex-row">
		<div class="flex items-center gap-2.5">
			<img src="/images/logo-mark.png" alt="Hyssop Games" class="h-7 w-auto" />
			<p class="text-xs text-cream/40">&copy; {year} Hyssop Games Ltd. All rights reserved.</p>
		</div>

		<div class="flex items-center gap-3">
			{socials.map((s) => (
				<a
					href={s.href}
					aria-label={s.label}
					target="_blank"
					rel="noopener noreferrer"
					class="flex h-9 w-9 items-center justify-center rounded-full border border-cream/10 bg-cream/5 text-cream/50 transition hover:border-marigold/50 hover:text-marigold hover:shadow-[0_0_16px_-2px_var(--color-marigold)]"
				>
					<svg viewBox="0 0 24 24" class="h-[16px] w-[16px] fill-current"><path d={s.path}></path></svg>
				</a>
			))}
		</div>
	</div>
</footer>
